{% extends 'pages/_html_page.html' %}



{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		html { background: #000000; }
		html, .cnchi_app { height: 100%; }

		body { background: #383A41; color: #ECECED; font-weight: 400; height: 100%; }

		.header { display: none; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 36px; text-align: center; font-weight: 400; margin-top: 0px; }

		h3 { font-size: 18px; font-family: 'Open Sans'; }

		.heading { text-align: center; margin-bottom: 60px; }

		.options_wrapper img { max-width: 100%; text-align: center; }

		.options_wrapper > div { text-align: center; }

		.options_wrapper p { font-size: 17px; margin-bottom: 20px; }

		.options_wrapper button { font-size: 17px; }

		.valign-wrapper { width: 100%; height: 100%; text-align: center; }

		.hideme { display: none; }
	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}
{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper">
		<div class="grid-100 heading">
			<h1>{{ _('Installer Update') }}</h1>
			<h3>{{ _('Checking for the latest installer version...') }}</h3>
		</div>
		<div class="grid-50 prefix-25 suffix-25 grid-parent options_wrapper">
			<div class="progress active">
				<div class="indeterminate"></div>
			</div>
			<div class="preloader-wrapper hideme">
				<div class="spinner-layer">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>

		</div>
		<div class="grid-100 heading hideme">
			<h1>{{ _('What would you like to do?') }}</h1>
		</div>
		<div class="grid-90 prefix-5 suffix-5 grid-parent options_wrapper hideme">
			<div class="grid-50 try_it">
				<img src="{{ RESOURCES_DIR }}/images/try-it.svg" width="200" alt="Icon for 'Try It' option"/>
				<p id="tryit_description">{{ _('Try Antergos without making any changes to your system.') }}</p>
				<button class="waves-effect waves-purple btn-large blue-grey lighten-4 blue-grey-text text-darken-4" aria-describedby="tryit_description">{{ _('Try It') }}</button>
			</div>
			<div class="grid-50 install_it">
				<img src="{{ RESOURCES_DIR }}/images/install-it.svg" width="200" alt="Icon for 'Install It' option"/>
				<p id="installit_description">{{ _('Create a permanent place for Antergos on your system.') }}</p>
				<button class="waves-effect waves-pink btn-large blue-grey lighten-4 blue-grey-text text-darken-4" aria-describedby="installit_description">{{ _('Install It') }}</button>
			</div>
		</div>
	</div>
{% endblock main_content %}



{#
 # Javascript For This Page
 #}
{% block page_script %}
	<script>
		let _page = null;

		class {{ page_name|capitalize() }}Page extends CnchiPage {
			constructor() {
				if (null !== _page) {
					return _page;
				}

				super();

				_page = this;
				this.signals = JSON.parse('{{ signals }}');

				this.register_allowed_signals();
				this.initialize();
			}

			initialize() {
				this.register_event_handlers();
				$('update_check').fadeIn();
			}

			installit_button_clicked_cb() {
				$('.content_wrapper').animateCss('magictime holeOut', () => {
					cnchi.log('"Install It" was selected. Sending signal to Cnchi..');
					cnchi.emit_signal('installit-selected');
				});
			}

			register_event_handlers() {
				$('.try_it button').on('click', this.tryit_button_clicked_cb);
				$('.install_it button').on('click', this.installit_button_clicked_cb);
				$(window).on('update-available', this.update_available_cb());
				$(window).on('update-result-ready', this.update_result_ready_cb);
			}

			tryit_button_clicked_cb() {
				cnchi.log('"Try It" was selected. Sending signal to Cnchi..');
				cnchi.emit_signal('tryit-selected');
			}

			update_available_cb() {
				$('h3').not('.hideme h3').fadeOut().text('{{ _('An installer update is avaialble. Please wait while the update is applied.') }}').fadeIn();
				$('.progress.active, .preloader-wrapper').toggleClass('hideme active');
			}

			update_result_ready_cb(data) {
				$('.preloader-wrapper').toggleClass('hideme active');

				if (true === data.result && true === data.restart) {
					$('h1').not('.hideme h1').fadeOut().text('{{ _('Update Complete.') }}').fadeIn();
					$('h3').not('.hideme h3').fadeOut().text('{{ _('Restarting the installer. One moment..') }}').fadeIn();
					$('.progress').removeClass('hideme active');

					setTimeout(() => {
						cnchi.emit_signal('do-restart');
					}, 2500);


				} else if (true === data.result) {
					$('h1').not('.hideme h1').fadeOut().text('{{ _('Update Check Complete') }}').fadeIn();
					$('h3').not('.hideme h3').fadeOut().text('{{ _('You are using the latest version and can proceed with your installation!') }}').fadeIn();

					setTimeout(() => {
						$('.heading, .option_wrapper').toggleClass('hideme');
					}, 2500);

				} else {
					// Either the update check or the update itself failed.
				}
			}
		}

		$(window).on('page-loaded', () => {
			new {{ page_name|capitalize() }}Page();
		});

		// Putting this here so that it fires ASAP otherwise the animation looks glitchy.
		//$('.content_wrapper').animateCss('magictime swashIn');

	</script>
{% endblock page_script %}
