*.py[cod]

# C extensions
*.so

build
eggs
__pycache__

# Installer logs
pip-log.txt

# Translations
*.mo
*.tags

# Backup files (joe et al)
*~

# PyCharm Config Files
.idea

# Nodejs
node_modules
cnchi/ui/react/dist/**
/cnchi/ui/gtk/javascriptcore.pxd
