[Desktop Entry]
Name=Install Antergos Linux
Name[pl]=Zainstaluj Antergos Linux
Name[sk]=Inštalovať Antergos Linux
GenericName=Live Installer
Comment=Install the operating system to disk
Comment[pl]=Zainstaluj system Antergos Linux
Comment[sk]=Nainštaluje operačný systém na disk
Exec=/usr/bin/cnchi
Icon=cnchi
Terminal=False
Type=Application
Categories=System;
