[Desktop Entry]
Name=Install Antergos Linux
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=sudo -E /usr/bin/cnchi
Icon=/usr/share/cnchi/data/images/antergos/antergos-icon.png
Terminal=False
Type=Application
Categories=System;
