{% extends 'pages/html_page.html' %}

{% from 'pages/_macros.html' import
	tabbed_navigation,
	collection_text_only,
	collapsable_items_container,
	collapsable_items,
	conditional_text with context %}

{% block before_page_styles %}
{% endblock before_page_styles %}



{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		body, html, .cnchi_app { background: #FFFFFF; color: #32373c; font-weight: 400; height: 100%; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 22px; text-align: center; font-weight: 400; margin-top: 20px; }

		h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; }

		.heading { text-align: center; margin: 30px 0px 15px; }

		.collection_wrapper { box-shadow: 0 2px 7px rgba(0, 0, 0, .1); }

		.collection_wrapper .collapsible { height: 305px; box-shadow: none; margin: 0px; overflow-x: hidden; overflow-y: scroll; list-style: none; }

		.collection a.collection-item { cursor: default; padding: 15px 25px; line-height: 1; text-align: center; color: #32373c; }

		.collapsible li { line-height: 1; }

		.collapsible li .collapsible-header { cursor: default; padding: 5px; padding-left: 13px; line-height: 1; display: flex; align-content: center; align-items: center; }

		.collapsible li .collapsible-header i { transform: rotate(90deg); float: right; margin: 13px; padding: 0px; line-height: 1; transition: transform 0.3s ease-in-out; }

		.collapsible li.active .collapsible-header i { transform: rotate(0deg); }

		.collapsible li .collapsible-header .icon_wrap { width: 82%; }

		.collapsible li .collapsible-body .grid-100 { padding: 0px; }

		.collapsible li .collapsible-header img { margin-right: 15px; }

		.collection a.collection-item:not(.active):hover { cursor: default; background-color: #f1f5f9; }

		.show_all_locations_wrapper { margin-top: 15px; padding-left: 15px; }

		label { -webkit-user-select: none; cursor: default; }

		input { cursor: default; }
	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}
{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper">
		<!-- TAB NAVIGATION BUTTONS -->
		<div class="grid-100 grid-parent navigation_wrapper">
			{{ tabbed_navigation(tabs, '1') }}
		</div> <!-- /END TAB NAVIGATION BUTTONS -->

		<!-- PAGE CONTENT -->
		<div class="grid-100 grid-parent content">

			<!-- LOCATION TAB -->
			<div class="grid-100 grid-parent page_tab" data-name="{{ tabs[0][0]|lower() }}">
				<div class="grid-100 heading">
					<h1>{{ _('Please Choose Your Location:') }}</h1>
				</div>
				<div class="grid-50 prefix-25 suffix-25 grid-parent collection_wrapper">
					{% call collapsable_items_container('grow') %}
						{% for country_languages in locations %}
							{% set lang_items = [] %}

							{% for lang in country_languages %}
								{% do lang_items.append((lang['locale'], lang['language'])) %}
							{% endfor %}

							{% set contents = collection_text_only(lang_items) %}
							{% set language = country_languages[0] %}
							{% set flag_img = '%s/images/country_flags/%s.jpg'|format(RESOURCES_DIR, language['c_code']|lower()) %}

							{{ collapsable_items([(language['c_code'], flag_img, language['country'], contents)]) }}
						{% endfor %}
					{% endcall %}
				</div>
				<div class="grid-50 prefix-25 suffix-25 grid-parent show_all_locations_wrapper">
					<input type="checkbox" id="show_all_locations" name="show_all_locations"{{ conditional_text(show_all_locations, ' checked') }}>
					<label for="show_all_locations">{{ _('Show all locations') }}</label>
				</div>
			</div> <!-- /END LOCATION TAB -->

			<!-- KEYBOARD LAYOUT TAB -->
			<div class="grid-100 grid-parent page_tab" data-name="{{ tabs[1][0]|lower() }}">

			</div> <!-- /END KEYBOARD LAYOUT TAB -->

			<!-- TIMEZONE TAB -->
			<div class="grid-100 grid-parent page_tab" data-name="{{ tabs[2][0]|lower() }}">

			</div> <!-- /END TIMEZONE TAB -->

		</div> <!-- /END PAGE CONTENT -->
	</div>
{% endblock main_content %}



{#
 # Javascript For This Page
 #}
{% block page_script %}
	<script src="{{ RESOURCES_DIR }}/js/list.min.js"></script>
	<script src="{{ RESOURCES_DIR }}/js/jquery.waypoints.min.js"></script>
	<script src="{{ RESOURCES_DIR }}/js/jquery.waypoints.inview.min.js"></script>
	<script>
		window._page = null;

		class LocationPage extends CnchiPage {
			constructor( id ) {
				if ( null !== window._page ) {
					return window._page;
				}

				super(id);

				window._page = this;
				this.signals = JSON.parse('{{ signals }}');
				this.location = null;

				this.$show_all_locations = $('#show_all_locations');
				this.show_all_locations = this.$show_all_locations.prop('checked');
				this.$locations_list = $('ul.collapsible');

				this.register_allowed_signals();
				this.register_event_handlers();
				this.initialize();
			}

			init_locations_list() {
				let icon = $('<div class="icon_wrap"><i class="material-icons">add</i></div>');

				this.$locations_list.children().each(function( index ) {
					let $header = $(this).find('.collapsible-header'),
						$body = $(this).find('.collapsible-body');

					$(icon).clone().appendTo($header);
					$header.on('click', _page.locations_list_item_header_clicked_cb);
					$body.find('.collection').children().on('click', _page.location_selected_cb);

					if ( index > 5 ) {
						$(this).addClass('future');
					}

					new Waypoint.Inview({
						element: $(this),
						context: _page.$locations_list,
						enter: function( direction ) {
							if ( 'down' === direction ) {
								$(this.element).removeClass('future');
							} else {
								$(this.element).removeClass('past');
							}
						},
						exited: function( direction ) {
							if ( 'down' === direction ) {
								$(this.element).addClass('past');
							} else {
								$(this.element).addClass('future');
							}
						}
					});
				});
			}

			initialize() {
				this.init_locations_list();
			}

			location_selected_cb( event ) {
				let $location = $(event.target),
					location = $location.attr('id');

				$location.addClass('active');

				if ( null !== _page.location ) {
					$(_page.location).removeClass('active');
				}

				_page.location = location;
				_page.unlock_next_tab();
			}

			locations_list_item_header_clicked_cb( event ) {
				// Allow time for animation to complete
				setTimeout(function() {
					let $header = $(event.currentTarget).closest('.collapsible-header'),
						$parent = $header.parent(),
						$last_active = ($parent.hasClass('_active')) ? $parent : $parent.siblings('._active');

					_page.locations_list_item_header_close($last_active);

					if ( $parent.is($last_active) ) {
						return;
					}

					_page.locations_list_item_header_open($parent);

				}, 250);
			}

			locations_list_item_header_close( $header ) {
				$header.find('i').text('add');
				$header.removeClass('_active');
			}

			locations_list_item_header_open( $header ) {
				$header.find('i').text('remove');
				$header.addClass('_active');
			}

			register_event_handlers() {
				this.$show_all_locations.on('click', this.show_all_locations_clicked_cb);
			}

			show_all_locations_clicked_cb( event ) {
				cnchi.emit_signal('do-show-all-locations');
				setTimeout(() => {
					_page.reload_element('.collection_wrapper', _page.init_locations_list);
				}, 250)
			}
		}

		window.LocationPage = LocationPage;

	</script>
{% endblock page_script %}
