{% extends 'pages/_00_base/html_page.html' %}

{% from 'pages/partials/_macros.html' import
	tabbed_navigation,
	collection_text_only,
	collapsable_items_container,
	collapsable_items,
	collapsable_items_javascript,
	keyboard_widget,
	keyboard_widget_styles_and_scripts,
	timezone_map,
	conditional_text with context %}

{% block before_page_styles %}
{% endblock before_page_styles %}



{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		body, html, .cnchi_app { background: #FFFFFF; color: #32373c; font-weight: 400; height: 100%; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 22px; text-align: center; font-weight: 400; margin-top: 20px; }

		h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; }

		.heading { text-align: center; margin: 30px 0px 15px; }

		.collection_wrapper, .keyboard_layouts_list { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

		.collection_wrapper .collapsible, .keyboard_layouts_list .collapsible { border: none !important; height: 305px; box-shadow: none; margin: 0px; overflow-x: hidden; overflow-y: scroll; list-style: none; }

		.collection a.collection-item { cursor: default; padding: 15px 25px; line-height: 1; text-align: center; color: #32373c; }

		.collapsible { border: none !important; box-shadow: none; }

		.collapsible li { line-height: 1; }

		.collapsible li .collapsible-header:hover { background-color: #f6fafe; }

		.collapsible li .collapsible-header { cursor: default; padding: 5px; padding-left: 13px; line-height: 1; display: flex; align-content: center; align-items: center; }

		.collapsible li .collapsible-header i { transform: rotate(90deg); float: right; margin: 13px; padding: 0px; line-height: 1; transition: transform 0.3s ease-in-out; }

		.collapsible li.active .collapsible-header i { transform: rotate(0deg); }

		.collapsible li .collapsible-header .title { width: 82%; }

		.collapsible li .collapsible-body .grid-100 { padding: 0px; }

		.collapsible li .collapsible-header img { margin-right: 15px; }

		.collection a.collection-item:not(.active):hover { cursor: default; background-color: #f1f5f9; }

		.show_all_locations_wrapper { margin-top: 20px; padding-left: 15px; }

		label { -webkit-user-select: none; cursor: default; }

		input { cursor: default; }

		.keyboard_layouts_list .collapsible { height: 475px; }

		#keyboard_layout .grid-35 { padding: 30px; }

		#keyboard_layout .grid-65 { padding-right: 30px; }

		#keyboard_layout .grid-65 p { text-align: left; }

		#keyboard_layout .collapsible-body .collection a { font-size: 13px; font-weight: 400; text-align: left; }

		#keyboard_layout .collapsible-body .collection { text-align: left; }

		#widget_container { position: relative; width: 100%; height: 350px; }

		#keyboard_layout #widget_container .kbd_container { left: 30px; top: 80px; }

	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper">
		<!-- TAB NAVIGATION BUTTONS -->
		<div class="grid-100 grid-parent navigation_wrapper">
			{{ tabbed_navigation(tabs, '1') }}
		</div> <!-- /END TAB NAVIGATION BUTTONS -->

		<!-- PAGE CONTENT -->
		<div class="grid-100 grid-parent content">

			<!--------------
			   LOCATION TAB
			 ---------------->
			<div class="grid-100 grid-parent page_tab" data-name="{{ tabs[0][0]|lower() }}">
				<div class="grid-100 heading">
					<h1>{{ _('Please Choose Your Location:') }}</h1>
				</div>
				<div class="grid-50 prefix-25 suffix-25 grid-parent collection_wrapper">
					{% call collapsable_items_container('grow') %}
						{% for country_languages in locations %}
							{% set lang_items = [] %}
							{% set layout_index = loop.index %}

					{% for lang in country_languages %}
						{% do lang_items.append((lang['locale'], lang['language'])) %}
					{% endfor %}

					{% set contents = collection_text_only(lang_items) %}
							{% set language = country_languages[0] %}
							{% set title %}
								<div class="title">{{ language['country'] }}</div>
							{% endset %}
							{% set flag_img = '%s/images/country_flags/%s.jpg'|format(RESOURCES_DIR, language['c_code']|lower()) %}

							{{ collapsable_items([(language['c_code'], flag_img, title, contents, layout_index)]) }}
						{% endfor %}
					{% endcall %}
				</div>
				<div class="grid-50 prefix-25 suffix-25 grid-parent show_all_locations_wrapper">
					<input type="checkbox" id="show_all_locations" name="show_all_locations"{{ conditional_text(show_all_locations, ' checked') }}>
					<label for="show_all_locations">{{ _('Show all locations') }}</label>
				</div>
			</div> <!-- /END LOCATION TAB -->


			<!--------------------
			  KEYBOARD LAYOUT TAB
			 ---------------------->
			<div id="{{ tabs[1][0]|lower()|replace(' ', '_') }}" class="grid-100 grid-parent page_tab" data-name="{{ tabs[1][0]|lower() }}">

				<!-- Keyboard Layouts List Container -->
				<div class="grid-35 grid-parent">
					<div class="keyboard_layouts_list">
					{% if keyboard_layouts %}
						{% call collapsable_items_container('grow', 8) %}
							{% for keyboard_layout in keyboard_layouts %}
								{% set no_variant = (keyboard_layout['id'], keyboard_layout['name']) %}
								{% set variants = [no_variant] %}
								{% set layout_index = loop.index %}

						{% for variant in keyboard_layout['variants'] %}
							{% do variants.append((variant['id'], variant['name'])) %}
						{% endfor %}

						{% set contents = collection_text_only(variants) %}

								{% set title %}
									<div class="title">{{ keyboard_layout['name'] }}</div>
								{% endset %}

								{{ collapsable_items([(keyboard_layout['id'], '', title, contents, layout_index)]) }}
							{% endfor %}
						{% endcall %}
					{% endif %}
					</div>
				</div> <!-- /END Keyboard Layouts List Container -->

				<!-- Keyboard Widget Outer Container -->
				<div class="grid-65 grid-parent keyboard_widget_container">
					<div class="grid-100 heading">
						<p>{{ _('Select your desired keyboard layout and variant (if applicable). You can use the input field below the keyboard widget to test your selection.') }}</p>
					</div>

					<div class="grid-100 keyboard_widget">
						{% if keyboard_layouts %}
							{{ keyboard_widget() }}
						{% endif %}
					</div>

					<div class="grid-100 input_field_container">

					</div>


				</div> <!-- /END Keyboard Widget Outer Container -->

			</div> <!-- /END KEYBOARD LAYOUT TAB -->


			<!--------------
			   TIMEZONE TAB
			 ---------------->
			<div id="{{ tabs[2][0]|lower()|replace(' ', '_') }}" class="grid-100 grid-parent page_tab" data-name="{{ tabs[2][0]|lower() }}">
				{% if timezone_map_enabled %}
					{{ timezone_map() }}
				{% endif %}

			</div> <!-- /END TIMEZONE TAB -->
		</div> <!-- /END PAGE CONTENT -->
	</div>
{% endblock main_content %}


{#
 # Javascript For This Page
 #}
{% block after_jquery %}
	<script src="{{ RESOURCES_DIR }}/js/jquery-migrate-3.0.0.js"></script>
{% endblock after_jquery %}

{% block page_script %}
	{#<script src="{{ RESOURCES_DIR }}/js/list.min.js"></script>#}
	{{ keyboard_widget_styles_and_scripts() }}
	{% include 'pages/partials/_timezone_map.html' %}
	<script>
		{{ collapsable_items_javascript() }}

		window._page = null;



		window.LocationPage = LocationPage;

	</script>
{% endblock page_script %}
