{% extends 'pages/html_page.html' %}

{% from 'pages/_macros.html' import
	tabbed_navigation,
	collection_text_only,
	collapsable_items_container,
	collapsable_items with context %}


{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		body, html, .cnchi_app { background: #FFFFFF; color: #32373c; font-weight: 400; height: 100%; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 22px; text-align: center; font-weight: 400; margin-top: 20px; }

		h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; }

		.heading { text-align: center; margin: 30px 0px 15px; }
		.collection_wrapper { box-shadow: 0 2px 7px rgba(0, 0, 0, .1); }

		.collection_wrapper .collapsible { max-height: 305px; overflow-y: auto; overflow-x: hidden; box-shadow: none; margin: 0px; }

		.collection a.collection-item { cursor: default; padding: 15px 25px; line-height: 1; text-align: center; color: #32373c; }

		.collapsible li { opacity: 0; line-height: 1; }
		.collapsible li .collapsible-header { cursor: default; padding: 5px; padding-left: 13px; line-height: 1; display: flex; align-content: center; align-items: center; }

		.collapsible li .collapsible-body .grid-100 { padding: 0px; }
		.collapsible li .collapsible-header img { margin-right: 15px; }
		.collection a.collection-item:not(.active):hover { cursor: default; background-color: #f1f5f9;}
	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}
{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper">
	<!-- TAB NAVIGATION BUTTONS -->
	<div class="grid-100 grid-parent navigation_wrapper">
		{{ tabbed_navigation(tabs, '1') }}
	</div> <!-- /END TAB NAVIGATION BUTTONS -->

		<!-- PAGE CONTENT -->
		<div class="grid-100 grid-parent content">

			<!-- LOCATION TAB -->
			<div class="grid-100 grid-parent page_tab">
				<div class="grid-100 heading">
					<h1>{{ _('Please Choose Your Location:') }}</h1>
				</div>
				<div class="grid-60 prefix-20 suffix-20 grid-parent collection_wrapper">
					{% call collapsable_items_container() %}
						{% for country_languages in locations %}
							{% set lang_items = [] %}

							{% for lang in country_languages %}
								{% do lang_items.append((lang['locale'], lang['language'])) %}
							{% endfor %}

							{% set contents = collection_text_only(lang_items) %}
							{% set language = country_languages[0] %}
							{% set flag_img = '%s/images/country_flags/%s.jpg'|format(RESOURCES_DIR, language['c_code']|lower()) %}

							{{ collapsable_items([(language['c_code'], flag_img, language['country'], contents)])  }}
						{% endfor %}
					{% endcall %}
				</div>
				<div class="grid-90 prefix-5 suffix-5 grid-parent show_all_locations_wrapper">
					<input type="checkbox" name="show_all_locations">{{ _('Show all locations') }}
				</div>
			</div> <!-- /END LOCATION TAB -->

			<!-- KEYBOARD LAYOUT TAB -->
			<div class="grid-100 grid-parent page_tab">

			</div> <!-- /END KEYBOARD LAYOUT TAB -->

			<!-- TIMEZONE TAB -->
			<div class="grid-100 grid-parent page_tab">

			</div> <!-- /END TIMEZONE TAB -->

		</div> <!-- /END PAGE CONTENT -->
	</div>
{% endblock main_content %}



{#
 # Javascript For This Page
 #}
{% block page_script %}
	<script>
		window._page = null;

		class LocationPage extends CnchiPage {
			constructor( id ) {
				if ( null !== window._page ) {
					return window._page;
				}

				super( id );

				window._page = this;
				this.signals = JSON.parse('{{ signals }}');

				this.$selection_wrapper = $('.selection_wrapper');
				this.$show_all_locations_wrapper = $('.show_all_locations_wrapper');

				this.register_allowed_signals();
				this.initialize();
			}

			initialize() {
				Materialize.showStaggeredList('.collapsible');

				for ( let signal of this.signals ) {
					if ( signal.indexOf('do-') > -1 ) {
						cnchi.emit_signal(signal);
					}
				}
			}

			register_event_handlers() {
				$('.show_all_locations_wrapper input').on('click', this.show_all_locations_input_clicked_cb);
			}

			show_all_locations_input_clicked_cb( event ) {
				cnchi.emit_signal('do-show-all-locations');
			}
		}

		window.LocationPage = LocationPage;

	</script>
{% endblock page_script %}
