{#
 # _macros.html
 #
 # Copyright © 2013-2016 Antergos
 #
 # This file is part of Cnchi.
 #
 # Cnchi is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Cnchi is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 #
 # The following additional terms are in effect as per Section 7 of the license:
 #
 # The preservation of all legal notices and author attributions in
 # the material or in the Appropriate Legal Notices displayed
 # by works containing it is required.
 #
 # You should have received a copy of the GNU General Public License
 # along with Cnchi; If not, see <http://www.gnu.org/licenses/>.
 #}

{# Macros (Reusable Code Snippets) #}


{#
 # Generates HTML for text with icon.
 #
 # Args:
 #     icon_info  (dict): Dict which maps one or more icon_class(es) & icon_color(s) to possible `text` values.
 #     text       (str):  The text to display next to the icon. Not required when calling this
 #                        macro from another macro. You should place text inside call block instead.
 #
 #}
{% macro text_with_icon(icon_info, text=None) %}
	{% if text is none %}
		{% set text = caller() %}
	{% endif %}

	{% set icon_class = icon_info.class %}
	{% set icon_color = icon_info.color %}

	{% if icon_info.class is mapping %}
		{% set icon_class = icon_info.class[text] %}
	{% endif %}

	{% if icon_info.color is mapping %}
		{% set icon_color = icon_info.color[text] %}
	{% endif %}

	<i class="fa fa-{{ icon_class }}" style="color: {{ icon_color }}"></i> {{ text }}
{% endmacro %}


{#
 # Outputs "readonly" if condition evaluates to a truthy value.
 #
 # Args:
 #     condition (mixed): If condition is truthy, output "readonly".
 #
 #}
{%- macro readonly(condition) -%}
	{%- if condition -%}
		readonly
	{%- endif -%}
{%- endmacro -%}


{#
 # Outputs `text` if condition evaluates to a truthy value.
 #
 # Args:
 #     condition (mixed): If condition is truthy, output "checked".
 #     text      (str):   The text to output. Not required when calling this macro from another macro;
 #                        you should place text inside call block instead.
 #
 #}
{%- macro conditional_text(condition, text=None) -%}
	{% if text is none %}
		{% set text = caller() %}
	{% endif %}
	{%- if condition -%}
		{{ text }}
	{%- endif -%}
{%- endmacro -%}



{#
 # Outputs HTML for Cnchi's tabbed navigation.
 #
 # Args:
 #     tabs         (list[tuple]): List of tuples containing a tab label and whether or not it is the active tab.
 #                                 For example: [('Check', True), ('Location', False)].
 #     column_width (str):         Column size (a number in the range 1-12)
 #
 #}
{% macro tabbed_navigation(tabs, column_width='3', top_level=False) %}
	{% if top_level %}
		{% set prefix = 'cnchi://' %}
	{% else %}
		{% set prefix = '#' %}
	{% endif %}
	<div class="row navigation_buttons">
		<div class="col s12">
			<ul class="tabs">
				{% for tab in tabs %}
					<li class="tab col s{{ column_width }} locked{{ conditional_text(tab[1], ' active') }}">
						<a href="{{ '%s%s'|format(prefix, tab[0]|lower()|replace(' ', '_')) }}" class="{{ conditional_text(tab[1], ' active') }}">{{ tab[0] }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% for tab in tabs %}
			<div id="_{{ tab[0]|lower() }}" class="col s12"></div>
		{% endfor %}
	</div>
{% endmacro %}



{#
 # Outputs HTML for a collection (listbox styled <ul>) that includes an avatar or icon.
 #
 # Args:
 #     items   (list[tuple]): List of tuples where each tuple contains info for an item in the collection. Each
 #                            item info tuple should contain 5 things: css id, material icon name, icon color,
 #                            heading, & subheading.
 #                            For example: [('cnchi_updated', 'check', 'green', 'Updated', 'Cnchi is up-to-date')].
 #     _class  (str):         Optional css class for the collection.
 #     columns (int):         Split into this number of columns.
 #
 #}
{% macro collection(items, _class='', columns=1) %}
	{% if items %}
		{% if '' != _class %}
			{% set _class = ' %s'|format(_class) %}
		{% endif %}

		{% for column in items|slice(columns) %}
			<div class="grid-50">
				<ul class="collection{{ _class }}">
					{% for item in column %}
						<li id="{{ item[0] }}" class="collection-item avatar">
							<i class="material-icons circle {{ item[2] }}">{{ item[1] }}</i>
							<span class="title">{{ item[3] }}</span>
							<p>{{ item[4] }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	{% endif %}
{% endmacro %}


{#
 # Outputs HTML for a collection (listbox styled <ul>) that includes only text.
 #
 # Args:
 #     items   (list[tuple]): List of tuples where each tuple contains info for an item in the collection. Each
 #                            item info tuple should contain 2 things: css id and the text content.
 #                            For example: [('english', 'English (USA)')].
 #     _class  (str):         Optional css class for the collection.
 #     columns (int):         Split into this number of columns.
 #
 #}
{% macro collection_text_only(items, _class='', columns=1) %}
	{% if items %}
		{% if '' != _class %}
			{% set _class = ' %s'|format(_class) %}
		{% endif %}

		{% for column in items|slice(columns) %}
			<div class="grid-100">
				<div class="collection{{ _class }}" role="listbox">
					{% for item in column %}
						<a href="#" id="{{ item[0] }}" class="collection-item" role="option">{{ item[1] }}</a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endmacro %}


{#
 # Outputs HTML for the parent container of a group of collapsable elements (eg. accordions).
 # This macro should be called from a `call` block containing the collapsable items macro.
 #
 # Args:
 #     _class  (str): Optional css class for the collection.
 #
 #}
{% macro collapsable_items_container(_class='', num_visible_items=5) %}
	{% if '' != _class %}
		{% set _class = ' %s'|format(_class) %}
	{% endif %}
	<ul class="collapsible{{ _class }}" data-collapsible="accordion" data-num_visible_items="{{ num_visible_items }}" role="tablist">
		{{ caller() }}
	</ul>
{% endmacro %}


{#
 # Outputs HTML for one or more collapsable element(s) (eg. accordions/toggles).
 #
 # Args:
 #     items  (list[tuples]): List of tuples container the info for each element.
 #                            Tuple contents: css class, icon class or img src url, title, contents.
 #                            Example: ('US', 'cnchi://...', 'United States', 'some contents...')
 #
 #}
{% macro collapsable_items(items) %}
	{% for item in items %}
		{% if item[1].startswith('cnchi://') %}
			{% set icon_or_image = '<img src="%s" class="flag z-depth-1" />'|format(item[1]) %}
		{% elif '' != item[1] %}
			{% set icon_or_image = '<i class="material-icons">%s</i>'|format(item[1]) %}
		{% else %}
			{% set icon_or_image = '' %}
		{% endif %}
		<li class="{{ item[0] }} {{ '%s_tab'|format(item[0]) }}">
			<div id="{{ '%s_tab%s_header'|format(item[0], item[4]) }}" class="collapsible-header" role="tab" aria-controls="{{ '%s_tab%s_body'|format(item[0], item[4]) }}">{{ icon_or_image }} {{ item[2] }} <div class="icon_wrap"><i class="material-icons">add</i></div></div>
			<div id="{{ '%s_tab%s_body'|format(item[0], item[4]) }}" class="collapsible-body" role="tabpanel" aria-labelledby="{{ '%s_tab%s_header'|format(item[0], item[4]) }}">{{ item[3] }}</div>
		</li>
	{% endfor %}
{% endmacro %}


{#
 # Outputs JavaScript for collapsable element(s) (eg. accordions/toggles).
 #}
{% macro collapsable_items_javascript(script_tags=False) %}
	{% if script_tags %}
		<script>
	{% endif %}

	class CollapsibleContainers extends CnchiObject {
		constructor() {
			super();
			this.collapsibles = [];

			this.initialize();
		}

		initialize() {
			this._find_collapsibles();
			this._maybe_setup_collapsibles();
		}

		_find_collapsibles() {
			$( 'ul.collapsible' ).each( ( index, element ) => {
				let $collapsible = $( element );

				if ( this.collapsibles.findIndex( $c => $collapsible.is( $c ) ) === - 1 ) {
					// $container is not in our collapsibles array, let's add it.
					this.collapsibles.push( $collapsible );
				}
			} );
		}

		_get_collapsible_from_event( event ) {
			let $target = $( event.currentTarget ).closest( '.collapsible' ),
				$result;

			for ( let $collapsible of this.collapsibles ) {
				if ( $collapsible.is( $target ) ) {
					$result = $collapsible;
					break;
				}
			}

			return $result;
		}

		_header_close( $header ) {
			$header.find( 'i' ).text( 'add' );
			$header.removeClass( '_active' );
		}

		_header_open( $header ) {
			$header.find( 'i' ).text( 'remove' );
			$header.addClass( '_active' );
		}

		_maybe_setup_collapsibles() {
			for ( let $collapsible of this.collapsibles ) {
				let num_visible_items = $collapsible.data( 'num_visible_items' ) || 5,
					initialized = 'undefined' !== typeof $collapsible.data( 'initialized' );

				if ( false === initialized ) {
					$collapsible.collapsible();
					this._setup_collapsible( $collapsible, num_visible_items );
					$collapsible.data( 'initialized', true );
				}
			}
		}

		_setup_collapsible( $collapsible, num_visible_items ) {
			$collapsible.on( 'click', '.collapsible-header', this.header_clicked_cb );
			$collapsible.on( 'click', '.collection-item', this.collection_item_clicked_cb );

			$collapsible.children().each( ( index, element ) => {
				if ( index > num_visible_items ) {
					$( element ).addClass( 'future' );
				}

				new Waypoint.Inview( {
					element: $( element ),
					context: $collapsible,
					enter: function( direction ) {
						if ( 'down' === direction ) {
							$( this.element ).removeClass( 'future' );
						} else {
							$( this.element ).removeClass( 'past' );
						}
					},
					exited: function( direction ) {
						if ( 'down' === direction ) {
							$( this.element ).addClass( 'past' );
						} else {
							$( this.element ).addClass( 'future' );
						}
					}
				} );
			} );
		}

		collection_item_clicked_cb( event ) {
			let $collapsible = this._get_collapsible_from_event( event );
			$collapsible.trigger( 'collection-item-selected', event );
		}

		header_clicked_cb( event ) {
			// Allow time for animation to complete
			setTimeout( () => {
				let $header = $( event.currentTarget ).closest( '.collapsible-header' ),
					$parent = $header.parent(),
					$last_active = ($parent.hasClass( '_active' )) ? $parent : $parent.siblings( '._active' );

				console.log( [ event, $header, $parent, $last_active ] );

				this._header_close( $last_active );

				if ( $parent.is( $last_active ) ) {
					return;
				}

				this._header_open( $parent );

			}, 325 );
		}
	}

	{% if script_tags %}
		</script>
	{% endif %}
{% endmacro %}


{#
 # Outputs styles and scripts for the keyboard widget.
 #}
{% macro keyboard_widget_styles_and_scripts() %}
	<!-- keyboard widget css & script -->
	<link href="{{ RESOURCES_DIR }}/includes/keyboard/css/keyboard.css" rel="stylesheet">
	<script src="{{ RESOURCES_DIR }}/includes/keyboard/js/jquery.keyboard.js"></script>

	<!-- css for the preview keyset extension -->
	<link href="{{ RESOURCES_DIR }}/includes/keyboard/css/keyboard-previewkeyset.css" rel="stylesheet">

	<!-- keyboard optional extensions - include ALL (includes mousewheel) -->
	<script src="{{ RESOURCES_DIR }}/includes/keyboard/js/jquery.keyboard.extension-all.js"></script>
	<!-- or include individual extensions, as desired -->
	<!--
	<script src="js/jquery.mousewheel.js"></script>
	<script src="js/jquery.keyboard.extension-altkeypopup.js"></script>
	<script src="js/jquery.keyboard.extension-autocomplete.js"></script>
	<script src="js/jquery.keyboard.extension-caret.js"></script>
	<script src="js/jquery.keyboard.extension-extender.js"></script>
	<script src="js/jquery.keyboard.extension-mobile.js"></script>
	<script src="js/jquery.keyboard.extension-navigation.js"></script>
	<script src="js/jquery.keyboard.extension-previewkeyset.js"></script>
	<script src="js/jquery.keyboard.extension-scramble.js"></script>
	<script src="js/jquery.keyboard.extension-typing.js"></script>
	-->
{% endmacro %}


{#
 # Outputs JavaScript for the Keyboard Widget.
 #}
{% macro keyboard_widget_javascript(script_tags=False) %}
	{% if script_tags %}
		<script>
	{% endif %}

	class KeyboardWidget extends CnchiObject {
		constructor(lang_code) {
			super();
			this.lang_code = lang_code;

			this.initialize();
		}

		initialize() {
			$('#keyboard').keyboard({
				// set this to ISO 639-1 language code to override language set by the layout
				// http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
				// language defaults to "en" if not found
				language     : this.lang_code,  // string or array
				rtl          : false, // language direction right-to-left

				// *** choose layout ***
				layout       : 'qwerty',
				customLayout : { 'normal': ['{cancel}'] },

				position     : {
					// optional - null (attach to input/textarea) or a jQuery object
					// (attach elsewhere)
					of : $('#widget_container'),
					my : 'center top',
					at : 'center top',
					// used when "usePreview" is false
					// (centers keyboard at bottom of the input/textarea)
					at2: 'center bottom'
				},

				// allow jQuery position utility to reposition the keyboard on window resize
				reposition   : true,

				// preview added above keyboard if true, original input/textarea used if false
				usePreview   : true,

				// if true, the keyboard will always be visible
				alwaysOpen   : true,

				// give the preview initial focus when the keyboard becomes visible
				initialFocus : true,
				// Avoid focusing the input the keyboard is attached to
				noFocus: false,

				// if true, keyboard will remain open even if the input loses focus.
				stayOpen     : true,

				// if true, keyboard will not close if you press escape.
				ignoreEsc: true,

				// *** change keyboard language & look ***
				display : {
					// \u2714 = check mark - same action as accept
					'a'      : '\u2714:Accept (Shift-Enter)',
					'accept' : 'Accept:Accept (Shift-Enter)',
					'alt'    : 'AltGr:Alternate Graphemes',
					// \u232b = outlined left arrow with x inside
					'b'      : '\u232b:Backspace',
					'bksp'   : 'Bksp:Backspace',
					// \u2716 = big X, close - same action as cancel
					'c'      : '\u2716:Cancel (Esc)',
					'cancel' : 'Cancel:Cancel (Esc)',
					// clear num pad
					'clear'  : 'C:Clear',
					'combo'  : '\u00f6:Toggle Combo Keys',
					// decimal point for num pad (optional);
					// change '.' to ',' for European format
					'dec'    : '.:Decimal',
					// down, then left arrow - enter symbol
					'e'      : '\u21b5:Enter',
					'empty'  : '\u00a0', // &nbsp;
					'enter'  : 'Enter:Enter',
					// \u2190 = left arrow (move caret)
					'left'   : '\u2190',
					// caps lock
					'lock'   : '\u21ea Lock:Caps Lock',
					'next'   : 'Next',
					'prev'   : 'Prev',
					// \u2192 = right arrow (move caret)
					'right'  : '\u2192',
					// \u21e7 = thick hollow up arrow
					's'      : '\u21e7:Shift',
					'shift'  : 'Shift:Shift',
					// \u00b1 = +/- sign for num pad
					'sign'   : '\u00b1:Change Sign',
					'space'  : '&nbsp;:Space',

					// \u21e5 = right arrow to bar; used since this virtual
					// keyboard works with one directional tabs
					't'      : '\u21e5:Tab',
					// \u21b9 is the true tab symbol (left & right arrows)
					'tab'    : '\u21e5 Tab:Tab',
					// replaced by an image
					'toggle' : ' ',

					// added to titles of keys
					// accept key status when acceptValid:true
					'valid': 'valid',
					'invalid': 'invalid',
					// combo key states
					'active': 'active',
					'disabled': 'disabled'
				},

				// Message added to the key title while hovering, if the mousewheel plugin exists
				wheelMessage : 'Use mousewheel to see other keys',

				css : {
					// input & preview
					input          : 'ui-widget-content ui-corner-all',
					// keyboard container
					container      : 'ui-widget-content ui-widget ui-corner-all ui-helper-clearfix',
					// keyboard container extra class (same as container, but separate)
					popup: '',
					// default state
					buttonDefault  : 'ui-state-default ui-corner-all',
					// hovered button
					buttonHover    : 'ui-state-hover',
					// Action keys (e.g. Accept, Cancel, Tab, etc); replaces "actionClass"
					buttonAction   : 'ui-state-active',
					// used when disabling the decimal button {dec}
					buttonDisabled : 'ui-state-disabled',
					// empty button class name {empty}
					buttonEmpty    : 'ui-keyboard-empty'
				},

				// *** Useability ***
				// Auto-accept content when clicking outside the keyboard (popup will close)
				autoAccept   : false,
				// Auto-accept content even if the user presses escape
				// (only works if `autoAccept` is `true`)
				autoAcceptOnEsc : false,

				// Prevents direct input in the preview window when true
				lockInput    : false,

				// Prevent keys not in the displayed keyboard from being typed in
				restrictInput: false,
				// Additional allowed characters while restrictInput is true
				restrictInclude: '', // e.g. 'a b foo \ud83d\ude38'

				// Check input against validate function, if valid the accept button
				// is clickable; if invalid, the accept button is disabled.
				acceptValid  : true,
				// Auto-accept when input is valid; requires `acceptValid`
				// set `true` & validate callback
				autoAcceptOnValid: false,

				// if acceptValid is true & the validate function returns a false, this option
				// will cancel a keyboard close only after the accept button is pressed
				cancelClose  : true,

				// Use tab to navigate between input fields
				tabNavigation: false,

				// press enter (shift-enter in textarea) to go to the next input field
				enterNavigation : true,
				// mod key options: 'ctrlKey', 'shiftKey', 'altKey', 'metaKey' (MAC only)
				// alt-enter to go to previous; shift-alt-enter to accept & go to previous
				enterMod : 'altKey',

				// if true, the next button will stop on the last keyboard input/textarea;
				// prev button stops at first
				// if false, the next button will wrap to target the first input/textarea;
				// prev will go to the last
				stopAtEnd : true,

				// Set this to append the keyboard immediately after the input/textarea it
				// is attached to. This option works best when the input container doesn't
				// have a set width and when the "tabNavigation" option is true
				appendLocally: false,

				// Append the keyboard to a desired element. This can be a jQuery selector
				// string or object
				appendTo: $('#widget_container'),

				// If false, the shift key will remain active until the next key is (mouse)
				// clicked on; if true it will stay active until pressed again
				stickyShift  : true,

				// caret placed at the end of any text when keyboard becomes visible
				caretToEnd   : false,

				// Prevent pasting content into the area
				preventPaste : false,

				// caret stays this many pixels from the edge of the input
				// while scrolling left/right; use "c" or "center" to center
				// the caret while scrolling
				scrollAdjustment: 10,

				// Set the max number of characters allowed in the input, setting it to
				// false disables this option
				maxLength    : false,

				// allow inserting characters @ caret when maxLength is set
				maxInsert    : true,

				// Mouse repeat delay - when clicking/touching a virtual keyboard key, after
				// this delay the key will start repeating
				repeatDelay  : 500,

				// Mouse repeat rate - after the repeatDelay, this is the rate (characters
				// per second) at which the key is repeated. Added to simulate holding down
				// a real keyboard key and having it repeat. I haven't calculated the upper
				// limit of this rate, but it is limited to how fast the javascript can
				// process the keys. And for me, in Firefox, it's around 20.
				repeatRate   : 20,

				// resets the keyboard to the default keyset when visible
				resetDefault : false,

				// Event (namespaced) on the input to reveal the keyboard. To disable it,
				// just set it to an empty string ''.
				openOn       : 'focus',

				// When the character is added to the input
				keyBinding   : 'mousedown',

				// enable/disable mousewheel functionality
				// enabling still depends on the mousewheel plugin
				useWheel : true,

				// combos (emulate dead keys)
				// http://en.wikipedia.org/wiki/Keyboard_layout#US-International
				// if user inputs `a the script converts it to à, ^o becomes ô, etc.
				useCombos    : true,

				// *** Methods ***
				// Callbacks - add code inside any of these callback functions as desired
				initialized   : function(e, keyboard, el) {},
				beforeVisible : function(e, keyboard, el) {},
				visible       : function(e, keyboard, el) {},
				beforeInsert  : function(e, keyboard, el, textToAdd) { return textToAdd; },
				change        : function(e, keyboard, el) {},
				beforeClose   : function(e, keyboard, el, accepted) {},
				accepted      : function(e, keyboard, el) {},
				canceled      : function(e, keyboard, el) {},
				restricted    : function(e, keyboard, el) {},
				hidden        : function(e, keyboard, el) {},

				// called instead of base.switchInput
				switchInput   : function(keyboard, goToNext, isAccepted) {},

				// used if you want to create a custom layout or modify the built-in keyboard
				create        : function(keyboard) { return keyboard.buildKeyboard(); },

				// build key callback (individual keys)
				buildKey : function( keyboard, data ) {
					/*
					 data = {
					 // READ ONLY
					 // true if key is an action key
					 isAction : [boolean],
					 // key class name suffix ( prefix = 'ui-keyboard-' ); may include
					 // decimal ascii value of character
					 name     : [string],
					 // text inserted (non-action keys)
					 value    : [string],
					 // title attribute of key
					 title    : [string],
					 // keyaction name
					 action   : [string],
					 // HTML of the key; it includes a <span> wrapping the text
					 html     : [string],
					 // jQuery selector of key which is already appended to keyboard
					 // use to modify key HTML
					 $key     : [object]
					 }
					 */
					return data;
				},

				// this callback is called just before the "beforeClose" to check the value
				// if the value is valid, return true and the keyboard will continue as it
				// should (close if not always open, etc)
				// if the value is not value, return false and the clear the keyboard value
				// ( like this "keyboard.$preview.val('');" ), if desired
				// The validate function is called after each input, the "isClosing" value
				// will be false; when the accept button is clicked, "isClosing" is true
				validate    : function(keyboard, value, isClosing) {
					return true;
				}

			});
		}
	}

	window.KeyboardWidget = KeyboardWidget;

	{% if script_tags %}
		</script>
	{% endif %}
{% endmacro %}


{#
 # Outputs the Keyboard Widget
 #}
{% macro keyboard_widget() %}
	<div id="widget_container">
		<input type="text" id="keyboard" />
	</div>
	{{ keyboard_widget_styles_and_scripts() }}
	{{ keyboard_widget_javascript(script_tags=True) }}
{% endmacro %}
