/*
 * style.css
 *
 * Copyright © 2016 Antergos
 *
 * This file is part of Cnchi.
 *
 * Cnchi is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License,
 * or any later version.
 *
 * Cnchi is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * The following additional terms are in effect as per Section 7 of the license:
 *
 * The preservation of all legal notices and author attributions in
 * the material or in the Appropriate Legal Notices displayed
 * by works containing it is required.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

html, body { padding: 0px; margin: 0px; }


/* ============================================== *\
 * ---------------->>> HEADER <<<---------------- *
\* ============================================== */

.header_top { height: 70px; background-color: #2e66b9; }
.header_bottom { height: 58px; background-color: #3b70d0; }


/* ============================================== *\
 * -->>> CUSTOM COLORS FOR WAVES ANIMATION <<<--- *
\* ============================================== */

.waves-effect.waves-pink .waves-ripple {
	background-color: rgba(249, 89, 183, 0.65);
}

.waves-effect.waves-purple .waves-ripple {
	background-color: rgba(121, 90, 255, 0.65);
}



/* ============================================== *\
 * ------------->>> Animations <<<--------------- *
\* ============================================== */

.in-rotateUnfoldLeft {
	-webkit-transform-origin: 100% 50%;
	-webkit-animation: rotateUnfoldLeft .7s both ease;
	transform-origin: 100% 50%;
	animation: rotateUnfoldLeft .7s both ease;
}

.out-moveToRightFade {
	-webkit-animation: moveToRightFade .7s ease both;
	-moz-animation: moveToRightFade .7s ease both;
	animation: moveToRightFade .7s ease both;
}

@-webkit-keyframes rotateUnfoldLeft {
	from { opacity: 0; -webkit-transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateUnfoldLeft {
	from { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
}

@-webkit-keyframes moveToRightFade {
	to { opacity: 0.3; -webkit-transform: translateX(100%); }
}

@keyframes moveToRightFade {
	to { opacity: 0.3; transform: translateX(100%); }
}
