/*
 * style.css
 *
 * Copyright © 2016 Antergos
 *
 * This file is part of Cnchi.
 *
 * Cnchi is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License,
 * or any later version.
 *
 * Cnchi is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * The following additional terms are in effect as per Section 7 of the license:
 *
 * The preservation of all legal notices and author attributions in
 * the material or in the Appropriate Legal Notices displayed
 * by works containing it is required.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


/*
 * These styles target multiple pages.
 *
 */

html, body { margin: 0px; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400; max-width: 100%; overflow: hidden; }


/* ============================================== *\
 * ---------------->>> HEADER <<<---------------- *
\* ============================================== */

.header { color: #ffffff; padding: 0px;}
.header_top { height: 70px; background-color: #2e66b9; }
.header_bottom { height: 58px; background-color: #3b70d0; padding: 0px; }
.header_bottom .row, .header_bottom .col { padding: 0px; margin: 0px; }
.header_bottom .tabs, .header_bottom .tab { background-color: transparent; height: 58px; line-height: 58px; }
.header_bottom .tabs a, .header_bottom .tabs a:hover { color: #ffffff; }
.header_bottom .tabs .tab a:hover, .header_bottom .tabs .tab a.active { background-color: #3f7ae4; }
.header_bottom .tabs .indicator { display: none; }
.header .progress { height: 3px; margin: 0px; }
.header .logo_container { text-align: left; max-height: 100%; font-family: Raleway, 'Open Sans', sans-serif; font-size: 28px; font-weight: 400; }
.header .logo { max-height: 40px; margin: 15px; }
.header .logo_container div { height: 70px; }
.header .logo_container div:last-child { line-height: 71px; }
.header .window_buttons a { width: auto !important; height: auto !important; padding: 10px !important; cursor: default; }
.header .window_buttons { text-align: right; color: rgba(0,0,0,0.1); }
.header .window_buttons a i { transition: color 0.2s linear; }
.header .window_buttons a:hover i { color: #ffffff; }
.header .window_buttons div:last-child { text-align: left; }


	/* ============================================== *\
	 * --------->>> MAIN CONTENT WRAPPER <<<--------- *
	\* ============================================== */

.main_content { display: flex; justify-content: center; align-items: center; height: 100%; }


/* ============================================== *\
 * -->>> CUSTOM COLORS FOR WAVES ANIMATION <<<--- *
\* ============================================== */

.waves-effect.waves-pink .waves-ripple {
	background-color: rgba(249, 89, 183, 0.65);
}

.waves-effect.waves-purple .waves-ripple {
	background-color: rgba(121, 90, 255, 0.65);
}


/* ============================================== *\
 * ------------->>> Animations <<<--------------- *
\* ============================================== */

