{% extends 'pages/_00_base/html_page.html' %}



{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		body, html, .cnchi_app { background: #FFFFFF; color: #32373c; font-weight: 400; height: 100%; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 36px; text-align: center; font-weight: 400; margin-top: 0px; }

		h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; }

		.heading { text-align: center; margin: 30px 0px; }
	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}
{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper et-page">
		<div class="grid-100 heading">
			<h3>{{ _('For best results, please ensure the following:') }}</h3>
		</div>
		<div class="grid-90 prefix-5 suffix-5 grid-parent">
			<div class="grid-50 try_it">

			</div>
			<div class="grid-50 install_it">

			</div>
		</div>
	</div>
{% endblock main_content %}



{#
 # Javascript For This Page
 #}
{% block page_script %}
	<script>
		let _page = null;

		class {{ page_name|capitalize() }}Page extends CnchiPage {
			constructor() {
				if (null !== _page) {
					return _page;
				}

				super();

				_page = this;
				this.signals = JSON.parse('{{ signals }}');

				this.register_allowed_signals();
				this.initialize();
			}

			initialize() {
				//$('.content_wrapper').animateCss('flipInX');
				this.register_event_handlers();
			}

			register_event_handlers() {
				$('.try_it button').on('click', () => {
					cnchi.log('"Try It" was selected. Sending signal to Cnchi..');
					cnchi.emit_signal('tryit-selected');
				});
				$('.install_it button').on('click', () => {
					cnchi.log('"Install It" was selected. Sending signal to Cnchi..');
					cnchi.emit_signal('installit-selected');
				});
			}
		}

		$(window).on('page-loaded', () => {
			new {{ page_name|capitalize() }}Page();
		});
		$('.content_wrapper').animateCss('magictime swashIn');

	</script>
{% endblock page_script %}
