{% extends 'pages/_html_page.html' %}

{% from 'pages/_macros.html' import collection %}


{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		body, html, .cnchi_app { background: #FFFFFF; color: #32373c; font-weight: 400; height: 100%; }

		.main_content { height: 593px; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 36px; text-align: center; font-weight: 400; margin-top: 0px; }

		h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; }

		.content_wrapper { display: flex; flex-direction: column; align-items: center; justify-content: center;}

		.heading { text-align: center; margin: 0px; margin-bottom: 35px; }

		.checked_items li { opacity: 0 }
		.checked_items i { transition: all 0.2s ease-in-out; }
	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}
{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper">
		<div class="grid-100 heading">
			<h3>{{ _('For best results, please ensure the following:') }}</h3>
		</div>

		<div class="grid-80 prefix-10 suffix-10 grid-parent">
			{{ collection(checked_items, 'checked_items', 2) }}
		</div>
	</div>
{% endblock main_content %}



{#
 # Javascript For This Page
 #}
{% block page_script %}
	<script>
		let _page = null;

		class CheckPage extends CnchiPage {
			constructor() {
				if (null !== _page) {
					return _page;
				}

				super();

				_page = this;
				this.signals = JSON.parse('{{ signals }}');

				this.register_allowed_signals();
				this.initialize();
			}

			initialize() {
				this.register_event_handlers();
				Materialize.showStaggeredList('.checked_items');

				$('.checked_items li').each(() => {
					let check = $(this).attr('id').replace('_', '-'),
						signal = `do-${check}`;

					cnchi.emit_signal(signal);
				});
			}

			checks_results_cb(event, event_name, result) {
				console.log(JSON.stringify(event));
				if ( true !== result ) {
					return;
				}
				let css_id = event_name.replace('-ready', '').replace('-', '_'),
					selector = `#${css_id}`;

				$(selector).find('i').removeClass('red').addClass('green').text('check');
			}

			register_event_handlers() {
				let events = ['power-check-result', 'update-check-result', 'iso-check-result', 'space-check-result'];

				for (let event of events) {
					$(window).on(event, this.checks_results_cb);
				}
			}
		}

	</script>
{% endblock page_script %}
