{% extends 'pages/_html_page.html' %}

{% from 'pages/_macros.html' import collection %}


{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		body, html, .cnchi_app { background: #FFFFFF; color: #32373c; font-weight: 400; height: 100%; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 36px; text-align: center; font-weight: 400; margin-top: 0px; }

		h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; }

		.heading { text-align: center; margin: 30px 0px; }

		.checked_items li { opacity: 0 }
	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}
{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper">
		<div class="grid-100 heading">
			<h3>{{ _('For best results, please ensure the following:') }}</h3>
		</div>

		<div class="grid-50 prefix-25 suffix-25 grid-parent">
			{{ collection(checked_items, 'checked_items') }}
		</div>
	</div>
{% endblock main_content %}



{#
 # Javascript For This Page
 #}
{% block page_script %}
	<script>
		let _page = null;

		class CheckPage extends CnchiPage {
			constructor() {
				if (null !== _page) {
					return _page;
				}

				super();

				_page = this;
				this.signals = JSON.parse('{{ signals }}');

				this.register_allowed_signals();
				this.initialize();
			}

			initialize() {
				this.register_event_handlers();
				Materialize.showStaggeredList('.checked_items');
			}

			register_event_handlers() {

			}
		}

	</script>
{% endblock page_script %}
