{% extends 'pages/_00_base/html_page.html' %}


{#
 # CSS Styles Specific To This Page
 #}
{% block page_styles %}
	<style>
		html { background: #000000; }

		html, .cnchi_app { height: 100%; }

		body { background: #383A41; color: #ECECED; font-weight: 400; height: 100%; }

		.header { display: none; }

		h1, h3 { font-family: Raleway, 'Open Sans', sans-serif; font-size: 36px; text-align: center; font-weight: 400; margin-top: 0px; }

		h3 { font-size: 18px; font-family: 'Open Sans'; }

		.heading { text-align: center; margin-bottom: 30px; }

		.options_wrapper img { max-width: 100%; text-align: center; }

		.options_wrapper > div { text-align: center; }

		.options_wrapper p { font-size: 17px; margin-bottom: 20px; }

		.options_wrapper button { font-size: 17px; }

		.valign-wrapper { width: 100%; height: 100%; text-align: center; }

		.hideme { display: none; }

		.welcome_wrapper { opacity: 0; -webkit-animation-fill-mode: forwards !important; animation-fill-mode: forwards !important; }

		.welcome_wrapper.showme { opacity: 1; -webkit-animation-fill-mode: forwards !important; animation-fill-mode: forwards !important; }

		.preloader-wrapper { margin: 0 auto; }
	</style>
{% endblock page_styles %}



{#
 # Page Content (Appears below the header)
 #}
{% block main_content %}
	<div class="grid-100 grid-parent content_wrapper">

		<!-- WELCOME OPTIONS -->
		<div class="grid-100 grid-parent welcome_wrapper">
			<div class="grid-100 heading">
				<h1>{{ _('What would you like to do?') }}</h1>
			</div>
			<div class="grid-90 prefix-5 suffix-5 grid-parent options_wrapper">
				<div class="grid-50 try_it">
					<img src="{{ RESOURCES_DIR }}/images/try-it.svg" width="200" alt="Icon for 'Try It' option"/>
					<p id="tryit_description">{{ _('Try Antergos without making any changes to your system.') }}</p>
					<button class="waves-effect waves-purple btn-large blue-grey lighten-4 blue-grey-text text-darken-4" aria-describedby="tryit_description">{{ _('Try It') }}</button>
				</div>
				<div class="grid-50 install_it">
					<img src="{{ RESOURCES_DIR }}/images/install-it.svg" width="200" alt="Icon for 'Install It' option"/>
					<p id="installit_description">{{ _('Create a permanent place for Antergos on your system.') }}</p>
					<button class="waves-effect waves-pink btn-large blue-grey lighten-4 blue-grey-text text-darken-4" aria-describedby="installit_description">{{ _('Install It') }}</button>
				</div>
			</div>
		</div> <!-- /END WELCOME OPTIONS -->


		<!-- CNCHI UPDATE CHECK -->
		<div class="grid-100 grid-parent update_check_wrapper hideme">
			<div class="grid-100 heading">
				<h1>{{ _('Installer Update') }}</h1>
				<h3>{{ _('Checking for the latest installer version...') }}</h3>
			</div>
			<div class="grid-10 prefix-45 suffix-45 grid-parent">
				<div class="progress active">
					<div class="indeterminate"></div>
				</div>
				<div class="preloader-wrapper">
					<div class="spinner-layer">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /END CNCHI UPDATE CHECK -->


		<!-- NO INTERNET CONNECTION DETECTED MSG -->
		<div class="grid-100 grid-parent update_no_internet_wrapper hideme">
			<div class="grid-100 heading">
				<h1>{{ _('We\'re Unable To Access The Internet') }}</h1>
				<h3>{{ _('A stable internet connection is required in order to continue.') }}</h3>
			</div>
			<div class="grid-50 prefix-25 suffix-25 grid-parent">
				<!-- TODO: no connection detected copy -->
				<p>More details go here....</p>
			</div>
		</div> <!-- /END NO INTERNET CONNECTION DETECTED MSG -->

	</div> <!-- /END .content_wrapper -->
{% endblock main_content %}

