#header {
    background-color: transparent;
    background-image: linear-gradient(to bottom, 
                                      alpha(white, 0.16), 
                                      alpha(white, 0.04) 49%,
                                      alpha(black, 0.20) 51%,
                                      alpha(black, 0.02)
                                      ),
                       url("data/header.jpg");                                 
    background-repeat: repeat;
    background-position: top left;
    color: #fcfcfc;
    font: 14px;
    font-family: "Futura", Helvetica, sans-serif;
}

/*#WelcomeMessage {
    background-image : url('data/welcome.png');
    background-repeat:no-repeat;
}*/

