#main {
    font-family: 'Open Sans';
    font-size: 11px;
}

#location {
    font-size: 11px;
}

window {
    border-color: transparent;
}

#logo {
    background-color: transparent;
    margin-top: 0px;
}

.title {
    background-color: transparent;
    color: #2EA3F2;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open Sans';
    text-shadow: 0px 1px 0px #222;
}

.label.subtitle, #header .subtitle, .subtitle {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #eee;
}

#header {
    background-image: url('/usr/share/cnchi/data/images/header.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 0px;
    border-color: transparent;
    font-family: 'Open Sans';
    padding: 8px 12px;
}

#process_progressbar, #i_progressbar, #a_progressbar {
    border-radius: 1px;
}

#process_progressbar {
    min-height: 3px;
}

#i_progressbar, #a_progressbar {
    min-height: 12px;
}

GtkProgressBar.progressbar {
    color: #2EA3F2;
    border-color: shade(#2EA3F2, 0.9);
    background-image: linear-gradient(to bottom, #2EA3F2, #2EA3F2);
}

#fwd_btn, #bk_btn {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#fwd_btn {
    border-radius: 0px 2px 2px 0px;
}

#bk_btn {
    border-radius: 2px 0px 0px 2px;
}

#fwd_btn:hover, #bk_btn:hover {
    color: #2EA3F2;
}

#fwd_btn:active, #bk_btn:active {
    color: #333A4C;
    box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(95, 95, 95, 0.90);
    background-color: shade(@theme_bg_color, 1.08);
}

#fwd_btn .label {
    font-size: 11px;
}

#fwd_btn_install_now {
    background-color: #2EA3F2;
    color: #ffffff;
    border-radius: 0px 2px 2px 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-color: #2e94e3;
    border-width: 1px;
}

#fwd_btn_save {
    background-color: #2EA3F2;
    color: #ffffff;
    border-radius: 0px 2px 2px 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-color: #2e94e3;
    border-width: 1px;
}

#fwd_btn_install_now .label, #fwd_btn_save .label {
    font-size: 10px;
    font-weight: 500;
}

#fwd_btn_install_now:active, #fwd_btn_save:active {
    color: #333A4C;
    box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 0.4), inset 0 0px 3px rgba(95, 95, 95, 0.80);
}

#fwd_btn_install_now:hover, #fwd_btn_save:hover {
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.4);
}

.header-bar .close_button {
    padding-left: 5px;
    padding-right: 0px;
}

headerbar separator {
    color: rgba(255, 255, 255, 0.08);
}

toolbar separator, separator, headerbar separator {
    margin-left: 10px;
}

list, .list {
    background-color: #eee;
}

list row:active, list row:selected, .list-row:active, .list-row:selected {
    background-color: #2EA3F2;
}

#tryit_btn, #graph_btn {
    padding: 12px 20px;
    border-radius: 3px;
    border-color: #f0f0f0;
    border-width: 2px;
    background: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 500;
    color: #2EA3F2;
    transition: all 0.1s ease-in;
}

#tryit_btn:focus, #graph_btn:focus {
    padding: 12px 20px;
    border-radius: 3px;
    border-color: #2EA3F2;
    border-width: 2px;
    background: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 500;
    color: #2EA3F2;
    transition: all 0.1s ease-in;
}

#tryit_btn:hover, #graph_btn:hover {
    padding-top: 9px;
    padding-bottom: 9px;
    background: #2EA3F2;
    color: #fff;
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    font-size: 20px;
}

#tryit_label, #installit_label {
    font-size: 11px;
}

/*GtkSwitch.trough:active {
    border-color: shade(#2EA3F2, 0.9);
    background-color: #2EA3F2;
    background-image: none;
}

GtkTreeView row:selected {
    background-color: #2EA3F2;
    border-color: shade(#2EA3F2, 0.9);
}*/

#auto_radio_btn label, #advanced_radio_btn label {
    font-size: 13px;
    font-weight: 600;
}

#lvm_btn label, #enc_btn label, #zfs_btn label, #home_btn label {
    font-size: 11px;
}

#lvm_label, #enc_label, #zfs_label, #home_label {
    font-size: 10px;
    font-style: italic;
}

#ask #intro_label {
    font-size: 16px;
}

#location-label-choose-country  {
    font-size: 14px;
}

#location-label-help  {
    font-size: 14px;
    font-style: italic;
}

#location-checkbutton-show-all-locations {
    font-size: 14px;
}

#slides scrolledwindow {
    border: none;
}

StateBox {
    border-radius: 2px;
}

#location-listbox, .row .label {
    font-size: 12px;
}

#location-listbox, .row .label:hover {
    font-size: 12px;
}
