#logo {
    background-color: transparent;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    color: #5082d4;
    font: 14px;
    font-family: 'Lato', 'Droid Sans', 'DejaVu Sans';
}

#title {
    background-color: transparent;
    background-image: url('/usr/share/cnchi/data/images/header.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    color: #5082d4;
    font: 17px;
    font-family: 'Lato', 'Droid Sans', 'DejaVu Sans';
    padding-top:7.5px;
}

#header {
    background-color: transparent;
    background-image: url('/usr/share/cnchi/data/images/header.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    margin-top: 0px;
    border-top: 0px;
    border-bottom: 0px;
    /*
    color: #5082d4;
    font: 14px;
    font-family: 'DejaVu Sans', Helvetica, sans-serif;
    padding-top:7.5px;
    */
}

#process_progressbar, #i_progressbar, #a_progressbar{
    border-radius: 5px;  
}

#process_progressbar{
    -GtkProgressBar-min-horizontal-bar-height: 1;
}

#i_progressbar, #a_progressbar{
    -GtkProgressBar-min-horizontal-bar-height: 12;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    background-image: -gtk-gradient (linear,
                                  left top,
                                  left bottom,
                                  color-stop(0.0,rgb(2,98,208)),
                                  color-stop(0.50,rgb(61,159,239)),
                                  color-stop(0.51,rgb(17,120,205)),
                                  color-stop(1.00,rgb(87,179,249)));
    color: white;
    border-color: shade(@theme_selected_bg_color, 0.9);   /* font color after the progress bar covers the text */
    border-width: 1px;
    border-style: solid;
    /*background-color: #acceee;
    background-image: none;*/
}

.progressbar .trough {
    color: black;   /* font color before the progress bar covers the text */
}
