#main {
font-family: 'Lato', 'Droid Sans', 'DejaVu Sans';
}
#logo {
    background-color: transparent;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    color: #5082d4;
    font: 14px;
    font-family: 'Lato', 'Droid Sans', 'DejaVu Sans';
}

#title {
    background-color: transparent;
    background-image: url('/usr/share/cnchi/data/images/header.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    color: #5082d4;
    font: 17px;
    font-family: 'Lato', 'Droid Sans', 'DejaVu Sans';
    padding-top:7.5px;
}

#header {
    background-color: transparent;
    background-image: url('/usr/share/cnchi/data/images/header.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    margin-top: 0px;
    border-top: 0px;
    border-bottom: 0px;
    /*
    color: #5082d4;
    font: 14px;
    font-family: 'DejaVu Sans', Helvetica, sans-serif;
    padding-top:7.5px;
    */
}

#process_progressbar, #i_progressbar, #a_progressbar{
    border-radius: 5px;  
}

#process_progressbar{
    -GtkProgressBar-min-horizontal-bar-height: 1;
}

#i_progressbar, #a_progressbar{
    -GtkProgressBar-min-horizontal-bar-height: 12;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@progressbar_background_a),
                                     to (@progressbar_background_b));
 
    border-radius: 3px;
    border-width: 1px;
    border-style: none;
}

close
.titlebar .left .titlebutton:first-child,
.titlebar .right .titlebutton:last-child {
	background-image: url('/usr/share/icons/Faenza/actions/scalable/window-close-symbolic.svg');
        padding: 4.5px 7px;
        transition: 3s ease-in;
        
}
.titlebar .right .titlebutton {
     margin-top: 15px;
}
.titlebar .left .titlebutton:first-child:backdrop,
.titlebar .right .titlebutton:last-child:backdrop {
	background-image: url('/usr/share/icons/Faenza/actions/scalable/window-close-symbolic.svg');
        }

.titlebar .left .titlebutton:first-child:hover,
.titlebar .right .titlebutton:last-child:hover {
	box-shadow:         inset 0px 0px 0px 1px rgba(50, 50, 50, 0.45);
        background-color: rgba(230, 230, 230, 0.45);
        background-image: url('/usr/share/icons/Faenza/actions/16/remove.png');
}

.titlebar .left .titlebutton:first-child:backdrop:hover,
.titlebar .right .titlebutton:last-child:backdrop:hover {
	box-shadow:         inset 0px 0px 0px 1px rgba(50, 50, 50, 0.45);
}

.titlebar .left .titlebutton:first-child:active,
.titlebar .right .titlebutton:last-child:active {
	box-shadow:         inset 0px 0px 0px 1px rgba(255, 0, 0, 0.85);
        background-color: rgba(230, 230, 230, 0.45);
        background-image: url('/usr/share/icons/Faenza/actions/16/remove.png');
}

 /*close
.titlebar .left .titlebutton:first-child,
.titlebar .right .titlebutton:last-child {
	background-image: url('/usr/share/cnchi/data/css/assets/close.png');
}

.titlebar .left .titlebutton:first-child:backdrop,
.titlebar .right .titlebutton:last-child:backdrop {
	background-image: url('/usr/share/cnchi/data/css/assets/close.png');
}

.titlebar .left .titlebutton:first-child:hover,
.titlebar .right .titlebutton:last-child:hover {
	background-image: url('/usr/share/cnchi/data/css/assets/close-hover.png');
}

.titlebar .left .titlebutton:first-child:backdrop:hover,
.titlebar .right .titlebutton:last-child:backdrop:hover {
	background-image: url('/usr/share/cnchi/data/css/assets/close-hover.png');
}

.titlebar .left .titlebutton:first-child:active,
.titlebar .right .titlebutton:last-child:active {
	background-image: url('/usr/share/cnchi/data/css/assets/close.png');
}*/
