
body {
    background: transparent;
    width: 800px;
    height: 334px;
    margin: 0px;
}

.slider {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.slider ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.slider ul li {
    float: left;
    max-height: 334px;

}

.slider li img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
}



